.form--layout{
    display: flex;
    justify-content:center;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 2rem;
    
}

.form--layout input{
    padding: 5px;
}
.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    transition: all 0.3s;
    color: #fff;
    background: #007bff;
  }

  .--btn:hover {
    transform: translateY(2px);
  }

  .form--layout input{
    font-size: 1rem;
    font-weight: 400;
  }